# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
flask_session/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# Kubernetes
k8s/*.secret.yaml

# Docker
*.log
